body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(109, 223, 238);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  position: absolute;
  left: 45%;
  top: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: black;
  margin: 15px;
}

form input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-align: left;
  color: black;
  padding: 4px;
  margin: 10px;
}

form label {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin: 10px;
}

form {
  position: absolute;
  left: 45%;
  top: 35%;
}
